@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
  background-color: rgb(246, 255, 255);
}

/* navbar */
header {
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-areas: "logo logo logo logo menu menu";
}
.logo {
  font-size: xx-large;
  font-weight: 600;
  grid-area: logo;
  display: flex;
}

.menu {
  display: grid;
  grid-template-areas: "menu menu menu menu";
  grid-area: menu;
  grid-template-columns: repeat(1fr, 4);
}

.menu-list {
  font-size: 1.5rem;
}
.menu-list a {
  color: rgb(42, 44, 165);
  font-weight: 550;
  text-decoration: none;
}
.menu-list a:hover {
  text-decoration: underline;
}
.highlighted {
  background-color: orange;
  padding: 0.3rem 1rem;
}

/* banner */
.banner {
  padding: 1rem 2rem;
  display: grid;
  grid-template-areas: "container1 image1";
}
.image1 {
  grid-area: image1;
}

.container1 {
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 20rem;
  grid-area: container1;
}
.heading1 {
  color: rgb(90, 76, 216);
  font-size: 50px;
  font-weight: 700;
}
.para1 {
  color: rgb(0, 17, 255);
  font-size: 20px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.track {
  background-color: orange;
  color: white;
  font-size: 20px;
  padding: 0.3rem 1rem;
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(228, 168, 57);
}
.track:hover {
  cursor: pointer;
  background-color: rgb(235, 112, 55);
}
.learn {
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 0.3rem 1rem;
  border: 2px solid;
  border-color: rgb(89, 40, 153);
}
.learn:hover {
  cursor: pointer;
  background-color: rgb(248, 243, 232);
}

/* why to trust us area */
.trust {
  word-spacing: 0.5rem;
  padding-top: 2rem;
  text-align: center;
}
.heading2 {
  padding: 1rem;
  font-size: 25px;
}
.brands {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
}
.brand-list {
  padding: 1rem;
  font-size: 18px;
}
/* info area  */
.info {
  text-align: center;
  padding-top: 2rem;
  padding-left: 20rem;
  padding-right: 20rem;
}
.heading3 {
  color: rgb(0, 33, 182);
  font-size: 50px;
  font-weight: 700;
  padding-left: 13rem;
  padding-right: 13rem;
}
.para2 {
  padding-left: 10rem;
  padding-right: 10rem;
}
/* cards section  */
.cards {
  display: grid;
  padding: 4rem 13rem 5rem 13rem;

  grid-template-areas: " card1 card2 card3";
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}

.card {
  border: 0.5px solid;
  padding: 1rem 2rem 1rem 2rem;
  background-color: white;
  border-radius: 5px;
  margin: 0.6rem;
  border-color: rgb(174, 178, 180);
}
.card-heading {
  background-color: white;
  color: rgb(17, 56, 231);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.card-para {
  background-color: white;
  text-align: center;
  color: rgb(139, 147, 153);
}
.card2 {
  border: 0px solid;
  box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.2);
}

/* footer  */
footer {
  padding: 1.3rem;
  text-align: center;
  background-color: azure;
}

/* CSS MEDIA QUERIES */
@media (max-width: 1025px) {
  header {
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-areas: "logo logo logo logo  menu menu";
  }

  /* banner */
  .banner {
    padding: 1rem 2rem;
    display: grid;
    grid-template-areas: "container1 image1";
  }
  .image1 {
    grid-area: image1;
  }

  .container1 {
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 6rem;
    grid-area: container1;
  }

  /* info area  */
  .info {
    text-align: center;
    padding-top: 2rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  /* cards section  */
  .cards {
    display: grid;
    padding: 4rem 5rem 5rem 5rem;

    grid-template-areas: " card1 card2 card3";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }

  .card {
    border: 0.5px solid;
    padding: 1rem 2rem 1rem 2rem;
    background-color: white;
    border-radius: 5px;
    margin: 0.6rem;
    border-color: rgb(174, 178, 180);
  }
}
@media (max-width: 760px) {
  header {
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-areas:
      "logo "
      "menu";
  }
  .logo {
    font-size: xx-large;
    font-weight: 600;
    grid-area: logo;
    display: flex;
    justify-content:space-evenly;
    padding-bottom: 1rem;
  }
  .menu {
    display: grid;
    
    grid-template-areas:
      "menu"
      "menu"
      "menu"
      "menu";
    grid-area: menu;
    /* grid-template-rows: repeat(1fr, 4); */
    grid-gap: 1rem;
    justify-content: center;
  }

  .menu-list {
    font-size: 1.5rem;
  }
  .menu-list a {
    color: rgb(42, 44, 165);
    font-weight: 550;
    text-decoration: none;
  }
  .menu-list a:hover {
    text-decoration: underline;
  }
  .highlighted {
    background-color: orange;
    padding: 0.3rem 1rem;
  }

  /* banner */
  .banner {
    padding: 1rem 1rem;
    display: grid;
    grid-template-areas:
      "container1 "
      "image1";
    align-items: center;
    justify-content: center;
  }
  .image1 {
    grid-area: image1;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .container1 {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 3rem;
    grid-area: container1;
  }
  .track {
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 0.3rem 1rem;
    margin-bottom: 0.7rem;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(228, 168, 57);
  }
/* why to trust us area */
.trust {
    word-spacing: 0.5rem;
    padding-top: 2rem;
    text-align: center;
  }
  .heading2 {
    padding: 1rem;
    font-size: 25px;
  }
  .brands {
    justify-content: space-evenly;
    text-align: center;
    display: flex;
  }
  .brand-list {
    padding: 1rem 0rem;
    font-size: 18px;
  }
  /* info area  */
  .info {
    text-align:start;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .heading3 {
    color: rgb(0, 33, 182);
    font-size: 50px;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .para2 {
    padding: 0.5rem 1rem;
  }

  /* cards section  */
  .cards {
    display: grid;
    padding: 4rem 2rem 5rem 2rem;

    grid-template-areas:
      "card1"
      "card2"
      "card3";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }

  .card {
    border: 0.5px solid;
    padding: 1rem 0.5rem 1rem 0.5rem;
    background-color: white;
    border-radius: 5px;
    margin: 0.6rem;
    border-color: rgb(174, 178, 180);
  }
}
